<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">主页</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">作者</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">联系</a>
</li>
<li class="nav-item" style="display: none">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">主题</a>
</li>
<li class="nav-item" style="display: none">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">映像</a>
</li>
<li class="nav-item" style="display: none">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">贡献分享者 <i class="fa fa-coffee text-danger"></i></a>
</li>
